<footer class="footer">
  <div class="footer-container">

    <!-- Left -->
    <div class="footer-logo-section">
     
        <img src="../asset/images/logo-white.png" class="footer-icon" alt="" width="100%"> 
      
      <p>Developing personalize our customer journeys to increase satisfaction & loyalty of our expansion.</p>

      <div class="footer-awards">
        <div class="award">
          <strong>5</strong>
          <span>Awards</span>
        </div>
        <div class="award">
          <strong>18</strong>
          <span>Clutch Awards</span>
        </div>
      </div>
    </div>

    <!-- Services -->
    <div class="footer-col">
      <h3>Services</h3>
      <ul>
        <li>Customer Experience</li>
        <li>Training Programs</li>
        <li>Business Strategy</li>
        <li>Training Program</li>
        <li>ESG Consulting</li>
        <li>Development Hub</li>
      </ul>
    </div>

    <!-- Resources -->
    <div class="footer-col">
      <h3>Resources</h3>
      <ul>
        <li>Contact us</li>
        <li>Team Member</li>
        <li>Recognitions</li>
        <li>Careers <span class="new-tag">NEW</span></li>
        <li>News</li>
        <li>Feedback</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Our offices</h3>
      <p>993 Renner Burg, West Rond,<br>MT 94251-030, USA.</p>

      <p><strong>P:</strong> +1 (009) 544-7818</p>
      <p><strong>M:</strong> support@bexon.com</p>

      <p class="footer-time"> Mon–Fri 10am–10pm</p>
    </div>

  </div>
</footer>
